body {
	font-family: Arial, sans-serif;
	font-size: small;
}
#banner {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Trebuchet MS";
	background: #E0E0E0 url(/img/top_div.git) no-repeat top left;
}
#banner h1 {
	margin: 0;
	padding: 45px 60px 50px 150px;
	font-size: 200%;
	color: #fff;
	background: url(/img/top_h1.gif) no-repeat bottom left;
}
#register {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #690;
	background: #BDDB62;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#register a {
	text-decoration: none;
	color: #360;
}
#reg {
	float: left;
	margin: 0;
	padding: 8px 14px;
}
#find {
	float: right;
	margin: 0;
	padding: 8px 20px;
	background: url(/img/search.png) no-repeat 0 50%;
}
#message {
	float: left;
	width: 100%;
	clear: both;
	font-weight: bold;
	font-size: 110%;
	color: #FFF;
	text-align: center;
	background: #92B91C;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#message p {
	margin: 0;
	padding: 8px 20px;
}
#message strong {
	text-transform: uppercase;
}
#message a {
	margin: 0 0 0 6px;
	padding: 2px 20px;
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
}
nav[role="navigation"] {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0 0 6px;
	list-style: none;
	background: #FFCB2D;
}
nav[role="navigation"] li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	font-size: 80%;
}
nav[role="navigation"] ul {
	float: right;
	margin: 0;
	padding: 10px 10px 0 6px;
	list-style: none;
	background: #FFCB2D;
}
nav[role="navigation"] ul li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	font-size: 80%;
}
nav[role="navigation"] ul li a {
	float: left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #333;
	text-decoration: none;
	border: 1px solid #9B8748;
	border-bottom: none;
	background: #F9E9A9;
}
nav[role="navigation"] ul li a:hover, body#intro #intro a {
	color: #333;
	padding-bottom: 4px;
	border-color: #727377;
	background: #FFF repeat-x top left;
}
