nav {
    float: left;
    margin: 0;
    padding: 10px 0 0 46px;
    list-style: none;
    background: #FFCB2d;
}
nav li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    font-size: 80%;
}
nav ul {
    float: left;
    width: 100%;
}